{#
* Notes is a Grav CMS theme | https://github.com/underr-ua/grav-theme-notes
* Copyright 2017-2019 Andrii Burkatskyi aka underr
* Licensed under MIT | https://github.com/underr-ua/grav-theme-notes/raw/master/LICENSE
#}

{% if page.header.taxonomy.tag %}
    <i class="i-tags"></i>
    {% for tag in page.header.taxonomy.tag %}
        <a href="{{ base_url }}/tag:{{ tag|url_encode }}" class="tag"
                itemprop="keywords" rel="tag">{{ tag }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
{% endif %}
